$primary-background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
$primary-font: 'Jost', sans-serif;
$primary-color: #fff;
$button-hover-color: #6d44b8;
$input-background: #e0dede;
$my-green: #56941e;
$my-red: rgb(170, 0, 0);